form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 #submit{
    margin-top: 2vh;
 }
 .error{
    text-align: center;
    color: red;
 }